<ion-header color="dark">
	<ion-toolbar>
		<ion-title> MateApp </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Bienvenido</ion-title>
		</ion-toolbar>
	</ion-header>

	<div id="container">
		<ion-card class="resultado" color="dark">
			<ion-card-header>
				<ion-card-subtitle>Responde...</ion-card-subtitle>
			</ion-card-header>

			<ion-card-content>
				<section id="pregunta">
					<div class="alignFr">
						<p>{{pregunta1.numerador}}</p>
						<hr />
						<p>{{pregunta1.denominador}}</p>
					</div>

					<div class="alignSigno">
						<p>+</p>
					</div>

					<div class="alignFr">
						<p>{{pregunta2.numerador}}</p>
						<hr />
						<p>{{pregunta2.denominador}}</p>
					</div>

					<div class="alignSigno">
						<p>=</p>
					</div>

					<div class="alignFr" *ngIf="swRespuesta">
						<p>{{resultado.numerador}}</p>
						<hr />
						<p>{{resultado.denominador}}</p>
					</div>

					<div class="alignFr" *ngIf="!swRespuesta">
						<p>?</p>
					</div>
				</section>
			</ion-card-content>
		</ion-card>
		<div class="respuestas">
			<div class="fraccion" *ngFor="let fraccion of arrayOpciones" (click)="verificaRespuesta(fraccion)">
				<p>{{fraccion.numerador}}</p>
				<hr />
				<p>{{fraccion.denominador}}</p>
			</div>
		</div>
	</div>
</ion-content>
