<ion-header color="dark">
	<ion-toolbar>
		<ion-title> MateApp </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Bienvenido</ion-title>
		</ion-toolbar>
	</ion-header>

	<div id="container">
		<ion-card class="resultado" color="dark">
			<ion-card-header>
				<ion-card-subtitle>Responde...</ion-card-subtitle>
			</ion-card-header>
			<ion-card-content class="pregunta">
				<!-- <div>{{principal.numerador}}/{{principal.denominador}}</div> -->
				<div>sd</div>
			</ion-card-content>
		</ion-card>
		<div class="respuestas">
			<div class="fraccion" *ngFor="let fraccion of arrayFraccion">
				<p>{{fraccion.numerador}}</p>
				<hr />
				<p>{{fraccion.denominador}}</p>
			</div>
		</div>
	</div>
</ion-content>
